:root {
  --color-white: #f9fafa;
  --color-black: #141518;
  --color-yellow: #f7e600;
  --color-blue: #1a9ff0;
  --color-darkBlue: #073d5d;
  --color-grey: #dee0e0;
  --color-darkGrey: #969696;
  --color-red: #cc473d;
  --color-green: #7aa300;
  --color-shadow: rgba(0, 0, 0, 0.2);
  --size-avatar: 38px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--color-white);
  display: flex;
  justify-content: center;
  margin: 0;
  color: var(--color-white);
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
}

button {
  background-color: transparent;
  outline: 0;
  border: 0;
  color: var(--color-white);
  cursor: pointer;
}

.app {
  width: 100vw;
  max-width: 500px;
  height: 100vh;
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 30px 0 rgb(0 0 0 / 20%), 0 5px 20px 0 rgb(0 0 0 / 19%);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-black);
  padding: 8px;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.logo-img {
  width: 32px;
  height: 32px;
}

.logo-name {
  font-size: 2rem;
  margin: 8px;
}

.logo-user {
  font-size: 0.7rem;
  color: var(--color-blue);
  padding-top: 8px;
}

.menu {
  color: var(--color-white);
}

.menu-item {
  color: var(--color-white);
  font-weight: bold;
}

.banner {
  margin: 8px;
  padding: 8px;
  font-size: 1rem;
  font-weight: bold;
}

.banner-red {
  background-color: var(--color-red);
}

.banner-green {
  background-color: var(--color-green);
}

.auth-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--color-black);
  padding: 16px 32px;
}
.auth-form div {
  display: flex;
  justify-content: center;
}

.form-btn {
  font-size: 1.2rem;
  font-weight: bold;
  background-color: var(--color-white);
  padding: 4px;
  color: var(--color-yellow);
  border-radius: 8px;
  border: 2px solid var(--color-yellow);
}

.chats {
  height: 100%;
  overflow-y: auto;
  color: var(--color-black);
  padding: 16px;
  list-style: none;
}

.chats::-webkit-scrollbar {
  /* Safari and Chrome */
  background-color: var(--color-darkGrey);
  width: 10px;
}

.chats::-webkit-scrollbar-thumb {
  /* Safari and Chrome */
  background-color: var(--color-yellow);
}

.chat {
  margin-top: 10px;
}

.auth-form-btn {
  margin: 16px;
}

.avatar-warp {
  color: var(--color-black);
}

.avatar-img {
  width: var(--size-avatar);
  height: var(--size-avatar);
  border: 2px solid var(--color-yellow);
  border-radius: 50%;
}

.avatar-txt {
  width: var(--size-avatar);
  height: var(--size-avatar);
  background-color: var(--color-grey);
  border-radius: 50%;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: var(--size-avatar);
}

.chat-container {
  width: 100%;
}

.chat-container-my {
  width: 100%;
  float: right;
}

.chat-body {
  margin-left: 20px;
  padding: 10px;
  width: fit-content;
  max-width: 300px;
  border-radius: 10%;
  color: var(--color-black);
  text-align: left;
  height: auto;
  background-color: var(--color-grey);
  word-wrap: break-word;
}

.chat-body-my {
  margin-right: 20px;
  padding: 10px;
  width: fit-content;
  max-width: 300px;
  border-radius: 10%;
  color: var(--color-black);
  text-align: left;
  height: auto;
  background-color: var(--color-yellow);
  word-wrap: break-word;
  float: right;
  flex: auto;
}

.chat-time {
  color: var(--color-darkGrey);
  margin-left: 20px;
}

.chat-time-my {
  color: var(--color-darkGrey);
  margin-right: 20px;
  float: right;
}

.deleteBtn {
  float: right;
}

.chat-form {
  display: flex;
  width: 100%;
  padding: 4px 16px;
  background-color: var(--color-yellow);
}

.chat-input {
  width: 100%;
  margin-right: 4px;
}

/* profile */
.profileImg-wrap {
  display: flex;
  justify-content: center;
}
.profileImg {
  width: 250px;
  height: 250px;
  border-radius: 45%;
  border: 2px solid var(--color-yellow);
}
